@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main {
  margin: 0%;
  /* background-image: url("./pics/Sunset.jpeg"); */
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.clock {
  margin: 0px;
  margin-right: 5%;
  padding-top: 4%;
  text-align: center;
  height: 50vmax;
}

.time {
  /* padding: 5%; */
  text-align: center;
  /* background-image: "/home/sammy/Documents/react-learning/digital-clock/public/pics/bg.jpg"; */
  font-size: 700%;
  font-family: Roboto;
  color: rgb(252, 252, 252);
}
